.about-text-container{
    > *{
        margin: 1rem 0;
    }
}

.aboutme{
    @include flex(column, center,center);
    --gap: 1rem;
    width: 100%;
    // flex-wrap: wrap;
  
    .image{
        width: 100%;
        max-width: 20rem;
        aspect-ratio: 1;
        border-radius: 50%;
        overflow: hidden;
        img{
        width: inherit;
        }
    }
    .text{
        @include flex(column, unset, unset);
        --gap: .25em;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .aboutme{

        @include flex(row, unset, flex-start);
        .text{
           width: 70%;
        }
    }
}


.list-head{
    *{
        margin: 0 1rem;
    }
}

.tech-stack{
    @include flex(column, unset, unset);
    --gap: 0;
    div{
    @include flex(row, unset, unset);
        flex-wrap: wrap;
        > *{
            display: inline-block;
            padding: .5rem .75rem;
            .fas{
                color: $secondary-clr;
            }
        }
    }
}